body {
    margin: auto;
    font-family: lato, Arial, Helvetica, sans-serif;

}

#main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 400px);

}

#main>div {
    border: 0px solid red;
}

#grey {

    background-color: #383838;
   
}

#grey div {
    border: 0px solid red;
    height: 82px;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    cursor: pointer;
    margin-left: -2px;
}


#get-the-app {
    display: flex;
    justify-content: space-between;
    border: 0px solid red;
    width: 700px;
    color: aliceblue;
    font-size: small;
}

#button1 {
    margin-top: -10px;
    height: 50px;
    margin-top: -1px;
    width: 200px;
    margin-right: 20px;
    color: azure;
    border: none;
    cursor: pointer;
    border-radius: 80px;
    background-image: linear-gradient(to right, #5a3bdb, #75c6ec);
}

#white {
    display: flex;
    background-color: white;
    margin-bottom: -95px;
    margin-top: -100px;
}

#white>img {
    margin-top: -200px;
    max-width: 300px;
    z-index: 2;
    margin-left: 350px;
    height: 600px;
    margin-top: -100px;
}

#white>div {
    border: 0px solid red;
    width: 550px;
    height: 350px;
    margin-left: 175px;
    margin-top: 100px;
}



#blue {
    background: #121451;
    margin-top: 100px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

#blue div {
    width: 500px;
    height: 200px;
    border: 0px solid rgb(244, 237, 237);
    margin-top: 40px;
}

p+div {
    display: flex;
    gap: 20px;
    height: 50px;
    margin-top: 70px;
    cursor: pointer;
}

#socialmedia {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#socialmedia img:hover {
    background-color: #3012d8;
    color: #383838;
}

#socialmedia>a>img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;

}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #383838; */
    /* for transpatent navbar  */
    background: rgba(0, 0, 0, 0.6); 
}
#stickyimg{
    /* position: fixed; */
    top: 0;
    height: 47px;
    /* display: flex; */
    justify-content: space-between;
    padding-top: -6px;
    cursor: pointer;
    margin-left: 34px;
    left: 0;
    width: 158px;
    

}